footer {
    padding: 20px 0;
    background: url('../img/footer-bg.png');
	font-family: PB;
	.content {
		color: $white-cl;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.backtop {
			cursor: pointer;
			&:hover {
				transform: translateY(-10px);
				transition: 0.6s;
			}
		}
	}


	@include tablet {
		.content {
			.footer-logo {
				width: 150px;
			}
		}
	}

	@include mobile {
		.content {
			.footer-logo {
				width: 130px;
			}
			.footer__copy {
				display: none;
			}
		}
	}

	@include mobile-xxs {
		.content {
			.footer-logo {
				width: 150px;
			}
		}
	}
}