
.slider {
    height: 100vh;
    width: 100%;
    position: relative;
    &__wrap {
        width: 100%;
        height: 100%;
        .carousel-cell {
            width: 100%; /* full width */
        }
        .item {
            width: 100%;
            height: 100%;
            position: relative;
            transition: 0.3s ease-in-out;
            .text {
                @include mid();
                z-index: 10;
                text-align: center;
                h2 {
                    font-size: 100px;
                    text-transform: uppercase;
                    color: $yellow-cl;
                }
            }
            img {
                max-width: 100%;
            }
        }
    }
    &__controll {
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: space-between;
        width: 100%;
        padding: 30px 15px;
        text-align: center;
        .slide {
            display: flex;
            padding-left: 65px;
            p {
                font-size: 45px;
                color: white;
                &::before {
                    position: absolute;
                    content: "";
                    top: 33px;
                    left: 35px;
                    height: 40px;
                    width: 3px;
                    background: $yellow-cl;
                    transform: rotate(90deg);
                }
            }
            ul {
                display: flex;
                color: white;
                align-items: center;
                li {
                    list-style: none;
                    width: 10px;
                    height: 10px;
                    margin: 10px;
                    background: #303030;
                    border-radius: 50%;
                    text-indent: -9999px;
                    cursor: pointer;
                    transition: 0.4s;
                    &:hover {
                        background: $yellow-cl;
                        transform: scale(1.2);
                    }
                }
                .active {
                    background: $yellow-cl !important;
                }
            }
        }
        .scroll {
            position: absolute;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%);
            padding-bottom: 20px;
            .mouse {
                display: block;
                padding-bottom: 15px;
            }
            @include keyframes(topdown) {
                0% {
                    transform : translateY(0px);
                    opacity: 0;
                    transition: 0.3s;
                }
                100% {
                    transform : translateY(15px);
                    opacity: 1;
                    transition: 0.3s;
                }
            }
            .arr {
                @include animation(topdown 2s ease both infinite);
            }
        }
        .controll {
            display: flex;
            align-items: center;
            .prev {
                img {
                    border: 1px solid white;
                    padding: 10px;
                    cursor: pointer;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    &:hover {
                        background: $yellow-cl;
                        transition: 0.7s;
                    }
                }
            }
            .next {
                img {
                    transform: rotate(180deg);
                    border: 1px solid white;
                    padding: 10px;
                    cursor: pointer;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    &:hover {
                        background: $yellow-cl;
                        transition: 0.7s;
                    }
                }
            }
        }
    }
    
    @include desktop {
        height: 500px;
        &__wrap {
            .item {
                .text {
                    top: 50%;
                    h2 {
                        font-size: 80px;
                    }
                }
            }
        }
    }
    @include tablet {
        height: 500px;
        &__wrap {
            .item {
                .flickity-viewport {
                    height: 100%;
                }
                .text {
                    top: 45%;
                    h2 {
                        font-size: 60px;
                    }
                    .btn {
                        padding: 8px 20px;
                        margin: 20px 0;
                        font-size: 14px;
                    }
                }
                img {
                    min-height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    @include mobile {
        height: 300px;
        &__wrap {
            .item {
                .flickity-viewport {
                    height: 100%;
                }
                .text {
                    top: 58%;
                    h2 {
                        font-size: 40px;
                    }
                    .btn {
                        padding: 5px 15px;
                        margin: 15px 0;
                        font-size: 10px;
                    }
                }
            }
        }
        &__controll {
            .slide {
                padding: 0;
                align-items: center;
                p {
                    font-size: 24px;
                    &::before {
                        display: none;
                    }
                }
                .dotted {
                    .flickity-page-dots {
                        bottom: 37px;
                        .dot{
                            width: 5px;
                            height: 5px;
                            margin: 0 5px;
                        }    
                    }
                }
            }
            .scroll {
                display: none;
            }
            .controll {
                img:first-child {
                    padding: 5px;
                }
                img:last-child {
                    padding: 5px;
                }
            }
        }
    }
    @include mobile-xxs {
        &__wrap {
            .item {
                .text {
                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }
        &__controll {
            .controll {
                img:first-child {
                    padding: 3px;
                }
                img:last-child {
                    padding: 3px;
                }
            }
        }
    }
}